@import "../../scss//variables.scss";
@import "../../scss//templates.scss";

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -200px;
        left: -200px;
        width: 470px;
        height: 419px;
        background: url("../../assets/images/svg/decor-left.svg") center / contain no-repeat;
        animation: showLeftDecor 0.7s ease 0.6s 1 normal forwards;

        @media (max-width: 1200px) {
            width: 279px;
            height: 222px;
            animation: showLeftDecorMedium 0.7s ease 0.6s 1 normal forwards;
        }

        @media (max-width: 620px) {
            animation: showLeftDecorSmall 0.7s ease 0.6s 1 normal forwards;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: -200px;
        right: -200px;
        width: 272px;
        height: 327px;
        background: url("../../assets/images/svg/decor-right.svg") center / contain no-repeat;
        animation: showRightDecor 0.7s ease 0.6s 1 normal forwards;

        @media (max-width: 1200px) {
            width: 293px;
            height: 301px;
            background: url("../../assets/images/svg/decor-right2.svg") center / contain no-repeat;
        }

        @media (max-width: 620px) {
            animation: showRightDecorSmall 0.7s ease 0.6s 1 normal forwards;
        }
    }

    &__preview {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.preview {
    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        padding: 60px 0 76px 0;

        @media (max-width: 992px) {
            padding-top: 100px;
        }

        @media (max-width: 480px) {
            padding-top: 80px;
        }
    }

    &__logo {
        margin-bottom: 93px;

        @media (max-width: 992px) {
            margin-bottom: 162px;
        }

        @media (max-width: 480px) {
            width: 128px;
            margin-bottom: 62px;
        }
    }

    &__image {
        width: 100%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 29px;

        @media (max-width: 992px) {
            margin-bottom: 42px;
        }
    }

    &__title {
        font-family: $Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 104%;
        text-transform: uppercase;
        color: $blue;
        opacity: 0.39;
        margin-bottom: 8px;

        @media (max-width: 992px) {
            font-weight: 700;
            font-size: 36px;
            line-height: 104%;
            margin-bottom: 22px;
        }

        @media (max-width: 480px) {
            text-align: center;
            margin-bottom: 17px;
        }
    }

    &__subtitle {
        @extend %text;
        text-align: center;
        max-width: 425px;

        @media (max-width: 992px) {
            font-size: 16px;
            max-width: 290px;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        @extend %text;
        margin-bottom: 12px;
    }

    &__button {
        @extend %button;

        span {
            padding-right: 47px;
            background: url("../../assets/images/svg/arrow-right.svg") right center no-repeat;
        }
    }
}


@keyframes showLeftDecor {
    from {
        top: -200px;
        left: -200px;
    }

    to {
        left: 0;
        top: 0;
    }
}

@keyframes showLeftDecorMedium {
    from {
        top: -200px;
        left: -200px;
    }

    to {
        left: -20px;
        top: -15px;
    }
}

@keyframes showLeftDecorSmall {
    from {
        top: -200px;
        left: -200px;
    }
    to {
        left: -43px;
        top: -71px;
    }
}

@keyframes showRightDecor {
    from {
        top: -200px;
        right: -200px;
    }

    to {
        right: -7px;
        top: 0;
    }
    
}

@keyframes showRightDecorSmall {
    from {
        top: -200px;
        right: -200px;
    }

    to {
        right: -37px;
        top: -52px;
    }
    
}