@import "../../scss/variables.scss";
@import "../../scss/templates.scss";

.subscribe {
    &__body {
        min-height: 180px;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 15px;

        @media (max-width: 992px) {
            min-height: 160px;
        }

        @media (max-width: 480px) {
            min-height: 140px;
        }
    }

    &__link {
        position: absolute;
        right: 111px;
        span {
            @extend %text;
            font-size: 20px;
            color: $white;
            padding-right: 35px;
            background: url('../../assets/images/svg/arrow-down.svg') right center no-repeat;

            @media (max-width: 992px) {
                font-size: 16px;
                
            }
            
        }

        @media (max-width: 1200px) {
            position: initial;
        }
    }
}
