@import "../../scss/variables.scss";
@import "../../scss/templates.scss";

.subscribe {
    &__body {
        // min-height: 192px;
        min-height: 180px;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 992px) {
            row-gap: 15px;
        }
    }

    &__link {
        position: absolute;
        right: 111px;
        span {
            @extend %text;
            font-size: 20px;
            color: $white;
            padding-right: 35px;
            background: url('../../assets/images/svg/arrow-down.svg') right center no-repeat;
            
        }

        @media (max-width: 1200px) {
            position: initial;
        }
    }
}
