@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);
@import url('./assets/fonts//SF_Pro_Display/stylesheet.css');
@import './scss/variables.scss';

* {
    padding: 0;
    margin: 0;
    border: 0;
    &,
    &::before,
    &::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

:focus, :active {
    outline: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
    line-height: 1;
    font-family: $Poppins;
    font-size: 16px;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}