@import './variables.scss';

%text {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $black;

    @media (max-width: 992px) {
        font-size: 16px;
    }
}


%button {
    @extend %text;
    font-size: 18px;
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: $blue2;
    border-radius: 40px;

    &:hover {
        cursor: pointer;
    }
}