@import "./variables.scss";

%text {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $black;

    @media (max-width: 992px) {
        font-size: 16px;
    }
}

%title {
    font-family: $Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-transform: uppercase;
    color: $blue;
    opacity: 0.39;
    margin-bottom: 8px;

    @media (max-width: 992px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 104%;
        margin-bottom: 22px;
    }

    @media (max-width: 480px) {
        text-align: center;
        margin-bottom: 17px;
    }
}

%button {
    @extend %text;
    font-size: 18px;
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: $blue2;
    border-radius: 40px;
    transition: all 0.1s ease;
    position: relative;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        &::before {
            transform: translateX(200%) skewX(-30deg);
        }
    }

    &:active {
        transition: all 0.1s ease;
        transform: scale(0.95);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateX(-250%) skewX(-30deg);
        transition: transform 0.7s ease-in-out;
    }
}