// === Fonts === //
$Poppins: 'Poppins';
$Roboto: 'Roboto';
$SF: 'SF Pro Display';


// === Colors === //
$blue: #162c4e;
$blue2: #1D4169;
$black: #000000cc;
$white: #ffffff;
$red: #DF2224;
$slideBG: #121212cc;
$slideNumber: #ffffff0a;
$slideText: #ffffffcc